*.cpp linguist-detectable=true
*.hpp linguist-detectable=true
*.py linguist-detectable=true

*.make linguist-detectable=false
Makefile linguist-detectable=false
*.cmake linguist-detectable=false
*.sh linguist-detectable=false
*.zsh linguist-detectable=false
*.bash linguist-detectable=false
*.c linguist-detectable=false

SaC_CATHETER_NAV/image_processing/catkin_generated linguist-vendored
SaC_CATHETER_NAV/sensor_publishing/catkin_generated linguist-vendored
SaC_CATHETER_NAV/centre_prediction/catkin_generated linguist-vendored
SaC_CATHETER_NAV/main/catkin_generated linguist-vendored
SaC_CATHETER_NAV/marker_publishing/catkin_generated linguist-vendored
SaC_CATHETER_NAV/em_filter/catkin_generated linguist-vendored

