*.cpp linguist-detectable=true
*.hpp linguist-detectable=true
*.py linguist-detectable=true

*.make linguist-detectable=false
Makefile linguist-detectable=false
*.cmake linguist-detectable=false
*.sh linguist-detectable=false
*.zsh linguist-detectable=false
*.bash linguist-detectable=false
image_processing/catkin_generated linguist-vendored
sensor_publishing/catkin_generated linguist-vendored
centre_prediction/catkin_generated linguist-vendored
main/catkin_generated linguist-vendored
marker_publishing/catkin_generated linguist-vendored
em_filter/catkin_generated linguist-vendored
